/*
    http://htmlpreview.github.io/?https://github.com/GlenMorrison/Digs101.github.io/blob/master/index.html
*/

/* reset all button styles, so buttons uniform in all browsers*/
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

#DusaPic{
    position: fixed;
    left: 0;
    width: 100%;
    height: auto;
    
    opacity: 0.6;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#header{
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;

    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.26);
}

#DusaLogo{
    position: relative;
    height: 100%;
    width: auto;
}

#centre_screen{
    position: relative;
    margin: 0 auto;
    margin-top: 120px;
    height: auto;
    width: 90%;
    /*background: rgba(54, 25, 25, .05);*/
}

.module_button{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #666666;
    font-size: 20px;
    padding: 40px;
    background: #ffffff;
    border: solid #e3e3e3 1px;
    text-decoration: none;

    min-width: 574px;
    min-height: 200px;

    max-width: 574px;
    max-height: 200px;

    padding: 30px;
    margin: 30px;
    transition: all 0.8s
}

.module_button:hover {
    background: rgba(54, 25, 25, .2);
    
    background: #2a5298; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #005C97, #363795); /* Standard syntax */
    
    color: white;

    font-size: 1.5em;

    cursor: pointer;

    min-width: 550px;
    max-width: 100%;
    margin-left: 35px;
    transition: all 0.1s
}

.module_image{
    width: 20%;
    height: auto;
    max-height: 102px;
    max-width: 102px;
    margin-top: 5px;
}


@media only screen and (max-width: 1350px) {
    .module_button {
        position: relative;
        margin: 0 auto;

        min-width: 0%;
        min-height: 300px;
    
        max-width: 100%;
        max-height: 200px;

        margin-top: 30px;
        margin-bottom: 30px;

        width: 40%;
        margin: 4%;
        min-width: 40%;
        max-width: 40%;
        height: 500px;
    }
    .module_button:hover {
        margin-left: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
        min-width: 40%;
        max-width: 40%;
        transition: all 0.1s
    }
}


@media only screen and (max-width: 600px) {
    .module_button {
        position: relative;
        margin: 0 auto;

        min-width: 0%;
        min-height: 300px;
    
        max-width: 100%;
        max-height: 200px;

        margin-top: 30px;
        margin-bottom: 30px;

        width: 100%;
        height: 500px;
    }
    .module_button:hover {
        margin-left: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
        min-width: 100%;
        max-width: 100%;
        transition: all 0.1s
    }
}

